html, * {
    user-select: none;
  }
  @font-face {
      font-family: Fortnite;
      src: url('{{asset('/fonts/fortnite.otf')}}');
  }
  .navbar-brand{
    bold: ;
    letter-spacing: 4px;

  }
  main{
   min-height: 90vh;           
  }  
  .cool-shadow{
    filter: drop-shadow(15px 0px 0px orange) drop-shadow(-15px 0px 0px black);
  }           